
@font-face {
    font-family: "Chromate";
    src: url('../public/fonts/Chromate-Regular.ttf'); 
   }

   @font-face {
    font-family: "Cremona";

    src: url('../public/fonts/Cremona.ttf'); 
     src: url('../public/fonts/Cocogoose-Classic-ExtraBold-trial.ttf'); 
     /* src: url('../public/fonts/Cocogoose-Classic-Medium-trial.ttf'); */
   }

   @font-face {
    font-family: 'Coco';
  src: url('../public/fonts/Cocogoose-Classic-ExtraBold-trial.ttf'); 
   }

   @font-face {
    font-family: 'Cocom';
  src: url('../public/fonts/Cocogoose-Classic-Medium-trial.ttf'); 
   }

   @font-face {
    font-family: 'Kiyana';

   
 src: url('../public/fonts/KiyanaDisplay-UltraLight.otf'); 

   }
   @font-face {
    font-family: 'Mosk';
    
 src: url('../public/fonts/Mosk\ Light\ 300.ttf'); 


   }

   @font-face {
      font-family: 'Mosk400';
      
   src: url('../public/fonts/Mosk\ Normal\ 400.ttf'); 
  
   }

   @font-face {
      font-family: 'Mosk500';
      
   src: url('../public/fonts/Mosk\ Medium\ 500.ttf'); 
  
   }
     



 

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;


body{
   overflow-x: hidden;
}


::-webkit-scrollbar{
   width:3px;
   background-color: white;
 }

 ::-webkit-scrollbar-thumb{
   border-radius: 0px;
   background-color: #000;
   box-shadow: inset 0 0 6px rgb(255, 255, 255);
 }

 ::-webkit-scrollbar-track{
 border-radius: 0px;
 background-color:rgb(0, 0, 0);
 }

 .nav {
    position: fixed;
    margin-top: 0px;
    
 }

  .active  {
   background-color:rgba(255, 255, 255, 0.972);
 }


img {
   filter: grayscale(0);
   transition: 0.6s;
}
img:hover {
   filter: grayscale(1);
}

.accordion-content {
   background-color: white;
   overflow: hidden;
   transition: max-height 0.6s ease;
   padding: 13px;
   font-size: 20px;
   font-family: 'Mosk';
   font-weight: 300;
   padding: 3px;
 }


 .accordion-icon {
   margin-left: auto;
   transition: transform 0.6s ease;
   font-size: 30px;
 }
 
 .rotate {
   transform: rotate(90deg);
 }

 .accordion:hover,.accordion-title
  .active {
    background-color:black;
    color: #fff;
  
  }

  .stroke-title {
   color: black;
   -webkit-text-fill-color:#c9c1b6; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: #fff;
 
  }

  .circle {
     position:absolute; 
     width: 300px;
     height: 300px;
     left: 70%;
     top: 90%;
     border-radius: 50%;
     border:1px solid rgb(255, 255, 255)
  }

  .arrow {
     color: white;
    padding:40px;
    margin-left:70px;
    margin-top:100px;
    font-size:70px;
     z-index: 12;
  }

  .line2 {
   position: absolute;
   width: 1px;
   height: 551vh;
   background-color: rgba(255, 255, 255, 0.144);
   left: 32%;
   top: -22%;
   z-index: 0;


  }

  .line3 {
   position: absolute;
   width: 1px;
   height: 551vh;
   background-color: rgba(255, 255, 255, 0.144);
   left: 35%;
   top: -22%;
   z-index: 0;

  }
  .line4 {
   position: absolute;
   width: 1px;
   height: 551vh;
   background-color: rgba(255, 255, 255, 0.144);
   left: 65%;
   top: -22%;
   z-index: 0;


  }

  .line5 {
   position: absolute;
   width: 1px;
   height: 551vh;
   background-color: rgba(255, 255, 255, 0.144);
   left: 68%;
   top: -22%;
   z-index: 0;

  }
  .work-container {
     position: relative;
     width: 800px;
     height: 400px;
     background-color: red;
  }

  .work-card{
position: absolute;
width: 100%;
margin-top:-180px;
  }

   h5 {
      color: #fff;
    font-family: "Poppins";
    margin: 9px 0 21px 16px;
    font-size: 16px;

}

 .line {
 
   width: 2px;
   height: 22px;
  
   
   background: #fff;
}

#curved1 {
 
   font-size: 10px;
   -webkit-text-stroke: 1px;
   font-family: Poppins;
   font-weight: 200;
   color: #fff;
   
 }
 
 
.image {
   opacity: 0;
   z-index: 0;
}
 .container-about {
    z-index: 1;
 }

 .container-header {
   z-index: 1;
}

.container-service {
   z-index: 2;
   position: relative;
   background-color: yellowgreen;
}

 .circular-text{
  
   top: 1.2%;
   left: 36%;
   font-size: -4px;
   font-family: 'Asap', sans-serif;
   font-weight: 400;
   /* transform: translate(-50%,-50%); */
   color: #ffffff;
   z-index: 2;
 
 }

 .view {
   margin-top: -57px;
    z-index: 18;
    background: rgb(255, 255, 255);
    position: absolute;
    margin-left: 20px;
 }

 .image-cover {
    width: 100%;
    object-fit: cover;
    
    height: 497px;
 }

